@mixin primary {
  background-color: $primary;
  color: $white;
}

@mixin primary-inverted {
  background-color: $white;
  color: $primary;
}

@mixin default {
  background-color: $grey;
  border: 1px solid $black;
  color: $black;
}
